.pieChartBox{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chart{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .options{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        font-size: 14px;

        .option{
            flex-direction: column;
            display: flex;
            align-items: center;
            gap: 10px;

            .title{
                display: flex
                gap 10px;
                align-items: center;

                .dot{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }
    }
}