// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg:#222b3c;

// TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;

//other
$warmer-color: #ceb290;
$cooler-color: #0071c9;

// $main-bg: #FF2768;
// $soft-bg: #4E1A3D;

// $dark-bg:#FBD2C9;

// // TEXT
// $soft-color: #05E0E9;
// $main-color: #05E0E9;
// $dark-color: #81ABBC;

// //other
// $warmer-color: #774A62;
// $cooler-color: #81ABBC;