@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
.stockGenerator{

    button{             
        margin: 0 auto;
        display: block;
        width: 100%;
        max-width: 300px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $main-bg;
        background-color: $main-bg;
        color: $soft-bg;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: $soft-bg;
            color: $main-bg;
        }
        
    }

}